
@{
    ViewBag.Title = "历史记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p class="text-center" style="margin-top:30px;">
        <a class="btn btn-success btn-lg" href="@Url.Action("ShowAdvance","Look")">查询预约登记记录</a>
    </p>
    <p class="text-center" style="margin-top:30px;">
        <a class="btn btn-warning btn-lg" href="@Url.Action("ShowRegistration","Look")">查询实际登记记录</a>
    </p>
</div>

